<div class="wrapper">
    <div class="page-header" filter-color="yellow">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/home.webp');"></div>

        <div class="container">
            <div class="content-center brand">
                <h3>Just Apply.</h3>
                <h1 class="h1-seo">Get Hired!!!</h1>
            </div>
        </div>
    </div>

    <div class="section section-tabs" *ngIf="isCandidate" name="job-section">
        <div class="container">
            <h2 class="h2-seo">Job</h2>
            <div class="row col-lg-12 recent-job-container">

                <div class="card col-lg-5" style="margin: 5px;" *ngFor="let job of recentJobs">
                    <p class="category h3-seo card-title">{{job.companyName}}</p>
                    <ul>
                        <li><strong>Job Title : </strong>{{job.jobTitle}}</li>
                        <li><strong>Salary : </strong>{{job.salary | currency:'INR'}}</li>
                        <li><strong>Job Type : </strong>{{job.jobType}}</li>
                        <li><strong>Job Type : </strong>{{job.jobCategory}}</li>
                    </ul>
                    <button #apply class="btn btn-warning" [attr.id]="job._id" (click)="apply4job(apply)">Apply</button>
                </div>
            </div>
        </div>
        <h2 *ngIf="totalJob <= 0" class="mat-h2" color="primary" style="text-align: center;">No job found!!!</h2>
        <mat-paginator [length]="totalJob" [pageSize]="jobPerPage" [pageSizeOptions]="pageSizeOptions" (page)="changePage($event)"></mat-paginator>

    </div>
</div>