ngb-progressbar {
    margin-top: 5rem;
}

ul {
    list-style-type: none;
}

.card-title {
    margin-left: 5px;
    margin-top: 5px;
}

.recent-job-container {
    display: flex;
    justify-content: center;
}