.grid-container {
    margin: 20px;
}

.dashboard-card {
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    background: #0000008f url('../../assets/home.webp');
    background-blend-mode: color;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: center;
}